---
layout: default
---
<div class="page clearfix" index>
  <div class="left">

    <h1 id="création-de-lassociation">Le temps d'un jeu</h1>
    <img src="/static/Logo.png" alt="logo">
    <p>L’association « LE TEMPS D’UN JEU » a pour objet de  promouvoir le jeu et l’activité ludique. Elle se donne pour objectif de donner à jouer, de favoriser les  rencontres et échanges, de faciliter la socialisation, de favoriser les acquisitions et échanges culturels,  d’aider l’apprentissage d’une consommation avertie, et de participer à la conservation du patrimoine  ludique.</p>
    <p><img src="/static/jeux-de-societe-a-deux.png" alt="image"></p>
    <p>Nous sommes un groupe de joueurs de jeux de plateau modernes, et désirons  partager notre passion. Nous disposons de jeux qui demandent réflexion, concentration et  planification, mais aussi bluff, trahison et amusement. Dune Imperium, Terraforming Mars, Pillards  de Sythie, Brass, Altiplano, Concordia … ces noms vous sont familiers ? Ou bien vous ne les  connaissez pas encore ? Que vous soyez expert ou novice, venez nous rencontrer un soir. Thierry,  Florent, Papaours et Lise expliqueront les règles et, le temps d’un jeu, vous deviendrez chef d’un  empire antique, éleveur au Pérou ou pionnier d’une planète lointaine. Vous poserez des « ouvriers »,  construirez des « decks » et gagnerez des points de « victoire ».</p>
    <p><strong>L’association se réunit dans la salle des fêtes de la mairie de PONTACQ, côté théâtre, dès septembre 2021, le lundi à 20h</strong>. À nous de la faire grandir, tous ensemble !</p>
    <p><em>Adhésion réservée aux personnes de plus de 18 ans.</em></p>
    <p>Pour tous renseignements, contactez-nous via le bandeau en bas de page</p>
    <hr>
  </div>
      <div class="right">
        <div class="wrap">
            <div class="side">
                <div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Actualités
                </div>
                <ul class="content-ul" recent>
                  {% for post in site.posts offset: 0 limit: 10  %}
                  {% if post.tags.size == 0 %}
                  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                  {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <div class="side">
                <div>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Les derniers jeux ajoutés
                </div>
                <ul class="content-ul" recent>
                  {% for post in site.posts offset: 0 limit: 10  %}
                  {% unless post.tags.size == 0 %}
                  <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
                  {% endunless %}
                    {% endfor %}
                </ul>
            </div>
            <!-- Content -->
            <div class="side">
                <div>
                    <i class="fa fa-tags"></i>
                    Types de jeux
                </div>
                <div class="tags-cloud">
                    {% assign first = site.tags.first %}
                    {% assign max = first[1].size %}
                    {% assign min = max %}
                    {% for tag in site.tags offset:1 %}
                      {% if tag[1].size > max %}
                        {% assign max = tag[1].size %}
                      {% elsif tag[1].size < min %}
                        {% assign min = tag[1].size %}
                      {% endif %}
                    {% endfor %}

                    {% if max == min %}
                        {% assign diff = 1 %}
                    {% else %}
                        {% assign diff = max | minus: min %}
                    {% endif %}

                    {% for tag in site.tags %}
                      {% assign temp = tag[1].size | minus: min | times: 36 | divided_by: diff %}
                      {% assign base = temp | divided_by: 4 %}
                      {% assign remain = temp | modulo: 4 %}
                      {% if remain == 0 %}
                        {% assign size = base | plus: 9 %}
                      {% elsif remain == 1 or remain == 2 %}
                        {% assign size = base | plus: 9 | append: '.5' %}
                      {% else %}
                        {% assign size = base | plus: 10 %}
                      {% endif %}
                      {% if remain == 0 or remain == 1 %}
                        {% assign color = 9 | minus: base %}
                      {% else %}
                        {% assign color = 8 | minus: base %}
                      {% endif %}
                      <a href="{{ root_url }}/{{ site.tag_dir }}#{{ tag[0] }}" style="font-size: {{ size }}pt; color: #{{ color }}{{ color }}{{ color }};">{{ tag[0] }}</a>
                    {% endfor %}
                </div>
            </div>

            <!-- <div class="side">
                <div>
                    <i class="fa fa-external-link"></i>
                    Links
                </div>
                <ul  class="content-ul">

                </ul>
            </div> -->
        </div>
      </div>
</div>
<!-- <script src="{{ "/js/scroll.min.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
<!-- <script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script> -->
