<div class="post-recent">
    <span class="pre">
        {% if page.previous %}
        <a href="{{ page.previous.url | prepend: site.baseurl }}"><strong><i class="fa fa-arrow-left" aria-hidden="true"></i></strong> {{ page.previous.title }}</a>
        {% endif %}
    </span>
    <span class="nex" style="float: right;">
        {% if page.next %}
        <a href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }} <strong><i class="fa fa-arrow-right" aria-hidden="true"></i></strong> </a>
        {% endif %}
    </span>
</div>
